<!DOCTYPE html>
<html>
<head>
  <title>Cipherious</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='new_logo.jpeg') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='w3_one.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='w3_two.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      color: #333;
      background-color: black;
    }
    
    h1, h2, h3 {
      font-weight: bold;
      color: #007BFF;
    }
    
    p {
      font-size: 1.1em;
      line-height: 1.7;
      color: #ffffff;
    }

    .w3-card:hover {
      transform: translateY(-10px);
      transition: transform 0.3s ease-in-out;
    }

    .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* 4 columns of equal width */
            gap: 14px; /* Adjust the spacing between cards if needed */
        }

    /* Responsive adjustments */
    @media (max-width: 600px) {
      .w3-card img {
        height: auto;
      }
      
      .w3-bar-item {
        font-size: 16px;
      }

      .video-container video {
        width: 100%;
        height: auto;
      }

      .w3-quarter {
        width: 80%;
        margin-bottom: 20px;
      }

      .w3-top .w3-bar-item {
        padding: 12px;
      }

      .w3-button.w3-xlarge {
        font-size: 24px;
        width: 50px;
        height: 50px;
      }

      .w3-display-container img {
        width: 100%;
        height: auto;
      }
    }
  </style>
</head>
<body id="myPage">

<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-teal w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <h5>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright">Close
      <i class="fa fa-remove"></i>
    </a>
    <a href="{{ url_for('cc_func')}}" class="w3-bar-item w3-button">Caesar Cipher</a>
    <a href="{{url_for('sub_func')}}" class="w3-bar-item w3-button">Substitution Cipher</a>
    <a href="{{url_for('morse_func')}}" class="w3-bar-item w3-button">Morse code</a>
    <a href="{{url_for('vig_func')}}" class="w3-bar-item w3-button">Vigenère Cipher</a>
    <a href="{{url_for('dif_hel')}}" class="w3-bar-item w3-button">Diffie-Hellman Key exchange</a>
    <a href="{{ url_for('aes_func')}}" class="w3-bar-item w3-button">AES 128 </a>
    <a href="{{ url_for('scrambler_func')}}" class="w3-bar-item w3-button">Scrambler Cipher</a>
    <a href="{{ url_for('base_changer')}}" class="w3-bar-item w3-button">Number Base Changer</a>
    <a href="{{url_for('BYOCone')}}" class="w3-bar-item w3-button">Build your own cipher</a>
    <a href="{{url_for('BYOCtwo')}}" class="w3-bar-item w3-button">Use your own cipher</a>
    <a href="{{ url_for('create_combo')}}" class="w3-bar-item w3-button">Create a combination of ciphers</a>
    <a href="{{ url_for('use_combo')}}" class="w3-bar-item w3-button">Use your combo</a>
  </h5>
</nav>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()">
      <i class="fa fa-bars"></i>
    </a>
    <form method="POST" action="/logout">
      <button class="w3-bar-item w3-button w3-teal w3-hover-red">
        <i class="fa fa-home w3-margin-right"></i>Logout
      </button>
    </form>
    <a href="{{url_for('my_acc')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-red">Hi {{curr_user}}</a>
  </div>
  <!-- Navbar on small screens -->
</div>

<!-- Image Header -->
<center>
  <div class="w3-display-container w3-animate-opacity">
    <img src="{{url_for('static', filename='logogif.gif') }}" alt="boat">
  </div>
</center>

<!-- Video Container -->
<div class="video-container" style="background-color: #000000; padding: 20px;">
  <video controls style="width: 100%; border-radius: 10px;">
    <source src="{{ url_for('static', filename='videohome.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

<!-- Team Container -->
<div class="container w3-padding-64 w3-center" id="team">
  <h2>OUR TEAM</h2>

  <div class="w3-row">
    <div class="w3-quarter">
      <img src="{{ url_for('static', filename='logo.PNG') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Rishi Ritesh Parekh</h3>
      <p>Chief Executive Officer, Web Designer</p>
    </div>

    <div class="w3-quarter">
      <img src="{{ url_for('static', filename='logo.PNG') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Nishant Jagatap</h3>
      <p>Cipher expert</p>
    </div>

    <div class="w3-quarter">
      <img src="{{ url_for('static', filename='logo.PNG') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Bhiman Nirmala Bhanu Prakash</h3>
      <p>Chief Operations Officer</p>
    </div>

    <div class="w3-quarter">
      <img src="{{ url_for('static', filename='logo.PNG') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Nithyanth Senthil Kumar</h3>
      <p>Marketing Head</p>
    </div>

    <div class="w3-quarter">
      <img src="{{ url_for('static', filename='logo.PNG') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Rounak Thomas James</h3>
      <p>Marketing Head</p>
    </div>
  </div>
</div>

<!-- Work Containers -->
<div class="w3-container w3-padding-64" style="background-color: #000000;">
  <h2 style="text-align: center; font-family: 'Arial', sans-serif; color: #007BFF; font-weight: bold; margin-bottom: 50px;">
    Our Work
  </h2>
  
<div class="w3-row">

<div class="w3-quarter w3-padding-24">
      <div class="container" style="padding: 14px;">
        
      <div class="w3-card w3-white " style="border-radius: 10px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); overflow: hidden; height: 1000 px">
        <img src="{{ url_for('static', filename='caesar.jpg') }}" alt="Caesar Cipher" style="width: 100%; height: 300px; object-fit: cover;">
        <div class="container" style="padding: 24px;">
          <h3 style="font-size: 1.8em; font-family: 'Arial', sans-serif; color: #007BFF; text-align: center;">CAESAR CIPHER</h3>
          <p style="font-size: 1.1em; font-family: 'Arial', sans-serif; color: #555; line-height: 1.7; text-align: justify; margin-top: 20px;">
            A Caesar cipher is a simple method of encoding messages.
            Caesar ciphers use a substitution method where letters in the alphabet are shifted by some fixed number of spaces to yield an encoding alphabet.</p>
            <br>
            <a href="{{ url_for('cc_func')}}" class="1 w3-hover-red" style="display: block; text-align: center; margin-top: 25px; padding: 12px 24px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; font-family: 'Arial', sans-serif;">Use</a>
        </div>
      </div>
      </div>
</div>

<div class="w3-quarter w3-padding-24">
      <div class="container" style="padding: 14px;">
      <div class="w3-card w3-white " style="border-radius: 10px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); overflow: hidden; height: 1000 px">
        <img src="{{ url_for('static', filename='viggy.jpeg') }}" alt="Vigenere Cipher" style="width: 100%; height: 300px; object-fit: cover;">
        <div class="container" style="padding: 24px;">
          <h3 style="font-size: 1.8em; font-family: 'Arial', sans-serif; color: #007BFF; text-align: center;">VIGENERE CIPHER</h3>
            <p style="font-size: 1.1em; font-family: 'Arial', sans-serif; color: #555; line-height: 1.7; text-align: justify; margin-top: 20px;">
            The Vigenère cipher is a more complex method that uses a keyword to shift letters in the message.
            Each letter is shifted according to the corresponding letter of the keyword, making it more secure than the Caesar cipher.</p>
            <br>
          <a href="{{ url_for('vig_func')}}" class="1 w3-hover-red" style="display: block; text-align: center; margin-top: 25px; padding: 12px 24px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; font-family: 'Arial', sans-serif;">Use</a>
        </div>
      </div>
      </div>
</div>

<div class="w3-quarter w3-padding-24">
      <div class="container" style="padding: 14px;">
        
      <div class="w3-card w3-white " style="border-radius: 10px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); overflow: hidden; height: 1000 px">
        <img src="{{ url_for('static', filename='viggy.jpeg') }}" alt="Caesar Cipher" style="width: 100%; height: 300px; object-fit: cover;">
        <div class="container" style="padding: 24px;">
          <h3 style="font-size: 1.8em; font-family: 'Arial', sans-serif; color: #007BFF; text-align: center;">SUBSTITUTION CIPHER</h3>
          <p style="font-size: 1.1em; font-family: 'Arial', sans-serif; color: #555; line-height: 1.7; text-align: justify; margin-top: 20px;">
            Substitution cipher involves each character being given a number.
            Math operations are performed on it and we substitute each letter with another, depending on an integer password. Made by cipherious.
      </p>
	<a href="{{ url_for('sub_func')}}" class="1 w3-hover-red" style="display: block; text-align: center; margin-top: 25px; padding: 12px 24px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; font-family: 'Arial', sans-serif;">Use</a>
    </div>
      </div>
      </div>
    </div>

    <div class="w3-quarter w3-padding-24">
	<div class="container" style="padding: 14px;">
  
      <div class="w3-card w3-white" style="border-radius: 10px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); overflow: hidden; height: 1000 px">
        <img src="{{ url_for('static', filename='morse.png') }}" alt="title_here" style="width: 100%; height: 300px; object-fit: cover;">
        <div class="container" style="padding: 24px;">
          <h3 style="font-size: 1.8em; font-family: 'Arial', sans-serif; color: #007BFF; text-align: center;">MORSE CODE</h3>
          <p style="font-size: 1.1em; font-family: 'Arial', sans-serif; color: #555; line-height: 1.7; text-align: justify; margin-top: 20px;">
            The Morse Code is a very well-known cipher, used widely to communicate SOS messages and such.
            Each letter and number has a certain number of dots and dashes in a certain pattern. It is also widely depicted in media. </p>
            <br>
          <a href="{{ url_for('morse_func')}}" class="1 w3-hover-red" style="display: block; text-align: center; margin-top: 25px; padding: 12px 24px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; font-family: 'Arial', sans-serif;">Use</a>
        </div>
      </div>
      </div>
    </div>

</div>  <div class="w3-row">

    <div class="w3-quarter w3-padding-24">
	    <div class="container" style="padding: 14px;">
      <div class="w3-card w3-white" style="border-radius: 10px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); overflow: hidden;height: 1000 px">
        <img src="{{ url_for('static', filename='diff.png') }}" alt="title_here" style="width: 100%; height: 300px; object-fit: cover;">
        <div class="container" style="padding: 24px;">
          <h3 style="font-size: 1.8em; font-family: 'Arial', sans-serif; color: #007BFF; text-align: center;">DIFFIE-HELLMAN KEY EXCHANGE ALGORITHM</h3>
          <p style="font-size: 1.1em; font-family: 'Arial', sans-serif; color: #555; line-height: 1.7; text-align: justify; margin-top: 20px;">
            This is a way to send a numeric password between two people who haven’t agreed on one yet. 
            The same process is used in the internet on a larger scale.</p>
          <a href="{{ url_for('dif_hel')}}" class="1 w3-hover-red" style="display: block; text-align: center; margin-top: 25px; padding: 12px 24px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; font-family: 'Arial', sans-serif;">Use</a>
        </div>
      </div>
	    </div>
    </div>

    <div class="w3-quarter w3-padding-24">
         <div class="container" style="padding: 14px;">
      <div class="w3-card w3-white" style="border-radius: 10px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); overflow: hidden; height: 1000 px;">
        <img src="{{ url_for('static', filename='scrambler.jpeg') }}" alt="title_here" style="width: 100%; height: 300px; object-fit: cover;">
        <div class="container" style="padding: 24px;">
          <h3 style="font-size: 1.8em; font-family: 'Arial', sans-serif; color: #007BFF; text-align: center;">SCRAMBLER CIPHER</h3>
          <p style="font-size: 1.1em; font-family: 'Arial', sans-serif; color: #555; line-height: 1.7; text-align: justify; margin-top: 20px;">
            This scrambles all the letters in the plaintext. All ASCII letters like capitals, lowercase, numbers and special characters. <br>
            Made by cipherious</p>
            <br> <br> <br>
          <a href="{{ url_for('scrambler_func')}}" class="1 w3-hover-red" style="display: block; text-align: center; margin-top: 25px; padding: 12px 24px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; font-family: 'Arial', sans-serif;">Use</a>
        </div>
      </div>
	 </div>
    </div>
   
    <div class="w3-quarter w3-padding-24">
      <div class="container" style="padding: 14px;">
          <div class="w3-card w3-white" style="border-radius: 10px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); overflow: hidden; height: 1000 px;">
            <img src="{{ url_for('static', filename='aes.jpg') }}" alt="title_here" style="width: 100%; height: 300px; object-fit: cover;">
            <div class="container" style="padding: 24px;">
              <h3 style="font-size: 1.8em; font-family: 'Arial', sans-serif; color: #007BFF; text-align: center;">ADVANCED ENCRYPTION STANDARD-128 (AES 128)</h3>
              <p style="font-size: 1.1em; font-family: 'Arial', sans-serif; color: #555; line-height: 1.7; text-align: justify; margin-top: 20px;">
                AES is internet standard encryption, this encryption keeps you safe from prying eyes everyday!</p>
              <a href="{{ url_for('aes_func')}}" class="1 w3-hover-red" style="display: block; text-align: center; margin-top: 25px; padding: 12px 24px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; font-family: 'Arial', sans-serif;">Use</a>
            <br>
            </div>
          </div>
      </div>
        </div>


    <div class="w3-quarter w3-padding-24">
      <div class="container" style="padding: 14px;">
          <div class="w3-card w3-white" style="border-radius: 10px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); overflow: hidden; height: 1000 px">
            <img src="{{ url_for('static', filename='binary.jpg') }}" alt="title_here" style="width: 100%; height: 300px; object-fit: cover;">
            <div class="container" style="padding: 24px;">
              <h3 style="font-size: 1.8em; font-family: 'Arial', sans-serif; color: #007BFF; text-align: center;">INTEGER BASE CHANGER</h3>
              <p style="font-size: 1.1em; font-family: 'Arial', sans-serif; color: #555; line-height: 1.7; text-align: justify; margin-top: 20px;">
                Change the basis of your integers. You can choose any integer from base 2 (binary) all the way to base 94! <br>
                Choose to write your numbers in different systems, from normal (0,1,2...) to unicode(!,",#... ) to alpha(A,B,C...)
              </p>
                <br>
              <a href="{{ url_for('base_changer')}}" class="1 w3-hover-red" style="display: block; text-align: center; margin-top: 25px; padding: 12px 24px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; font-family: 'Arial', sans-serif;">Use</a>
            </div>
          </div>
      </div>
      </div>

      </div><div class="w3-row">

    <div class="w3-quarter w3-padding-24">
	<div class="container" style="padding: 14px;">
      <div class="w3-card w3-white" style="border-radius: 10px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); overflow: hidden; height: 1000 px">
        <img src="{{ url_for('static', filename='byoc.jpg') }}" alt="title_here" style="width: 100%; height: 300px; object-fit: cover;">
        <div class="container" style="padding: 24px;">
          <h3 style="font-size: 1.8em; font-family: 'Arial', sans-serif; color: #007BFF; text-align: center;">BUILD YOUR OWN CIPHER</h3>
          <p style="font-size: 1.1em; font-family: 'Arial', sans-serif; color: #555; line-height: 1.7; text-align: justify; margin-top: 20px;">
            Unleash your imagination and creativity by designing your own innovative substitution cipher.
            You decide which letters replace which when encrypting text</p>
            <br><br><br><br>
          <a href="{{ url_for('BYOCone')}}" class="1 w3-hover-red" style="display: block; text-align: center; margin-top: 25px; padding: 12px 24px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; font-family: 'Arial', sans-serif;">Use</a>
        </div>
      </div>
	</div>
    </div>

   
<div class="w3-quarter w3-padding-24">
	<div class="container" style="padding: 14px;">
      <div class="w3-card w3-white" style="border-radius: 10px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); overflow: hidden; height: 1000 px">
        <img src="{{ url_for('static', filename='byoc.jpg') }}" alt="title_here" style="width: 100%; height: 300px; object-fit: cover;">
	<div class="container" style="padding: 24px;">
          <h3 style="font-size: 1.8em; font-family: 'Arial', sans-serif; color: #007BFF; text-align: center;">USE YOUR OWN CIPHER</h3>
          <p style="font-size: 1.1em; font-family: 'Arial', sans-serif; color: #555; line-height: 1.7; text-align: justify; margin-top: 20px;">
            Use the cipher which you can create in 'build your own cipher'. Just copy paste the password and enter your text.</p>
            <br> <br><br><br><br><br><br><br>
          <a href="{{ url_for('BYOCtwo')}}" class="1 w3-hover-red" style="display: block; text-align: center; margin-top: 25px; padding: 12px 24px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; font-family: 'Arial', sans-serif;">Use</a>
        </div>
      </div>
	</div>
    </div>

<div class="w3-quarter w3-padding-24">
<div class="container" style="padding: 14px;">
      <div class="w3-card w3-white" style="border-radius: 10px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); overflow: hidden; height: 1000 px">
        <img src="{{ url_for('static', filename='combo2.jpg') }}" alt="title_here" style="width: 100%; height: 300px; object-fit: cover;">
        <div class="container" style="padding: 24px;">
          <h3 style="font-size: 1.8em; font-family: 'Arial', sans-serif; color: #007BFF; text-align: center;">CREATE A COMBINATION OF CIPHERS</h3>
          <p style="font-size: 1.1em; font-family: 'Arial', sans-serif; color: #555; line-height: 1.7; text-align: justify; margin-top: 20px;">
            This cipher utilizes all available ciphers (excluding Diffie-Hellman) to create an super cipher.
            You can create your combinations here and view them in your account page (click the Hi {{curr_user}} box).
            It is a masterful cipher that provides you with a fun and convienient method of secretive communication with your friends.</p>
          <a href="{{ url_for('create_combo')}}" class="1 w3-hover-red" style="display: block; text-align: center; margin-top: 25px; padding: 12px 24px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; font-family: 'Arial', sans-serif;">Use</a>
        </div>
      </div>
</div>
    </div>

    <div class="w3-quarter w3-padding-24">
	<div class="container" style="padding: 14px;">
      <div class="w3-card w3-white" style="border-radius: 10px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); overflow: hidden; height: 1000 px;">
        <img src="{{ url_for('static', filename='combo2.jpg') }}" alt="title_here" style="width: 100%; height: 300px; object-fit: cover;">
        <div class="container" style="padding: 24px;">
          <h3 style="font-size: 1.8em; font-family: 'Arial', sans-serif; color: #007BFF; text-align: center;">USE YOUR COMBINATION OF CIPHERS</h3>
          <p style="font-size: 1.1em; font-family: 'Arial', sans-serif; color: #555; line-height: 1.7; text-align: justify; margin-top: 20px;">
            Use your combination easily here. </p>
            <br><br><br><br><br><br><br><br><br>
          <a href="{{ url_for('use_combo')}}" class="1 w3-hover-red" style="display: block; text-align: center; margin-top: 25px; padding: 12px 24px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; font-family: 'Arial', sans-serif;">Use</a>
        </div>
      </div>
	</div>
    </div>

</div>
</div>
</div>
<!-- Container -->
<div class="container" style="position:fixed">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
  style="position:absolute;top:-28px;right:24px">+</a>
</div>

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body> </html>
